/* 全体 */
body {
    margin: 0px;
    padding: 8px;
}
main {
    height: auto;
}

/* 各セクション */
hr.vertical-bar {
    margin: 0px 10%;
    border: 0px;
    border-top: solid gray 1px;
}
div.in-section {
    display: flex;
}
div.in-section>* {
    flex-direction: row;
}

/* セクション内の要素 */
h2 {
    padding-left: 50px;
}
h2::before {
    content: url('./images/square20x20.svg');
    padding-right: 8px;
    position: relative;
    top: 1px;
}
div.image-medium {
    height: 210px;
    width: 210px;
    box-sizing: border-box;
    border: solid gray 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.image-medium>img {
    margin: auto;
    height: 200px;
    width: 200px;
}
div.right-document {
    padding-left: 20px;
}

/* 個別の設定 */
section#introduction>div.in-section>div:first-child {
    flex: 0 0 210px;
}
div#pros>:first-child::before {
    content: '👍';
}
div#cons>:first-child::before {
    content: '👎';
}
section#table-of-contents>div {
    margin: 10px;
    border: dashed 2px silver;
    border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><g stroke-width="0" fill="silver"><polygon points="0,0 4,0 4,1 0,1"/><polygon points="8,0 8,4 7,4 7,0"/><polygon points="8,8 4,8 4,7 8,7"/><polygon points="0,8 0,4 1,4 1,8"/></g></svg>') 1 repeat;
}